RestServiceMultipleResponseTypes/my-response-dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="singleValueMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="field1" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			
		<dfdl:format alignment="1" alignmentUnits="bytes" byteOrder="bigEndian" encoding="UTF-8" fillByte="1" ignoreCase="yes" initiatedContent="no" ref="csv:CommaSeparatedFormat" representation="text" sequenceKind="ordered"/>
    </xsd:appinfo>
	</xsd:annotation>


	<xsd:element dfdl:ref="csv:CommaSeparatedFormat" ibmSchExtn:docRoot="true" name="csvMessage">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="value1" name="field1" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value2" name="field2" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="value3" name="field3" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>